---
license: MIT
---
<!DOCTYPE html>
<html manifest="manifest.appcache">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        {% if page.path == 'index.html' %}
        <title>{{ site.name }} | {{ site.tagline}}</title>
        {% else %}
        <title>{{ page.title }} | {{ site.name }}</title>
        {% endif %}
        <link rel="canonical" href="{{ site.uri }}{{ page.url }}">
        <link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Blog and Projects" href="/atom.xml">
    </head>
    <body>
        <header>
            <h1>{{ site.name }}</h1>
            <nav>
                <h2>Main site navigation</h2>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        {{ content | indent: 8 }}
        <footer>
            <p>{{ site.copyright }}</p>
        </footer>
    </body>
</html>
