---
# license: MIT
layout: article
---
<h1>{{ page.title }}</h1>
<div class="content">
    {% if page.note %}
    <section class="note">
        <h1>Author note</h1>
        {{ page.note | markdownify | indent: 8 }}
    </section>
    {% endif %}
    {% if page.markdown %}
    {{ content | markdownify | indent: 4 }}
    {% else %}
    {{ content | indent: 4 }}
    {% endif %}
    {% if site.cta %}
    <hr>
    <section class="cta">
        {{ site.cta | markdownify | indent: 8 }}
    </section>
    {% endif %}
</div>
<footer>
    <hr>
    <section class="metadata-page">
        <dl>
            <dt>Author</dt>
            <dd><a href="/about" rel="author">Mark Trapp</a></dd>
            <dt>Posted on</dt>
            <dd><time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time></dd>
            {% if page.section %}
            <dt>Section</dt>
            <dd><a href="/{{ page.url | remove_first:'/' | split: '/' | first }}/#{{ page.section | escape }}">{{ page.section }}</a></dd>
            {% endif %}
            <dd></dd>
        </dl>
    </section>
    <section class="metadata-edit">
            <dd><a class="task" title="View page changes" href="{{ site.prefix.diff }}{{ page.path }}" rel="nofollow">View page changes</a></dd>
            <dd><a class="task" title="Suggest an edit" href="{{ site.prefix.edit }}{{ page.path }}" rel="nofollow">Suggest an edit</a></dd>
        </dl>
    </section>
</footer>
