---
title: Blog

license: MIT

layout: default
---
<section class="listing">
    <h1>{{ page.title }}</h1>
    <section class="featured">
        {% for post in site.categories['blog'] %}
        {% if post.unlisted != true %}
            {% assign latest_post = post %}
        {% break %}
        {% endif %}
        {% endfor %}
        <h1>Latest</h1>
        <article>
            <h1><a href="{{ latest_post.url }}">{{ latest_post.title }}</a></h1>
            {{ latest_post.excerpt }}
        </article>
    </section>

    {% include archive_section_blog.html section_names=site.blog_presort %}

    {% for section in site.sections %}
        {% unless site.blog_presort contains section[0] %}
            {% assign section_names = section_names | append: section[0] | append: '||' %}
        {% endunless %}
    {% endfor %}
    {% assign section_names_sorted  = section_names | split: '||' | sort %}
    {% include archive_section_blog.html section_names=section_names_sorted %}

</section>
